html {
    font-size: 625%;
    font-family: 'Microsoft Yahei UI Light', Verdana, Simsun, 'Segoe Script', Tahoma, Arial, sans-serif;
}

/* 登录 */
body, body.signin {
    z-index: -999;
    background: url(https://cdn.doylee.cn/images/blood-moon.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;
}

/* 注册 */
body.signup {
    background-image: url(https://cdn.doylee.cn/images/war-bg.jpg) !important;
}

html, body, div.ms-Grid, div.ms-Grid-row {
    height: 100%;
}

h1.title {
    font-size: 0.28rem;
    color: darkorange;
}

.bgColor-away {
    background-color: #b7472a;
}

/* 页脚 */
footer {
    /* background-color: #ccc; */
    font-size: .18rem;
    color: white;
    opacity: .5;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding-bottom: .1rem;
}

footer a {
    text-decoration: none;
    color: #008000;
}

@media only screen and (max-width: 800px) {
    .mobile-xxx {
        display: block;
    }

    footer {
        padding-bottom: 0 !important;
    }
}

/* 预加载 */
.hide {
    display: none;
}

/* 遮罩 */
.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.mask p {
    position: absolute;
    top: calc(50% - 0.5rem / 2 + .05rem);
    left: calc(50% - 1.15rem);
    font-size: .25rem;
    line-height: .25rem;
    text-align: center;
    display: inline-block;
    font-family: cursive;
}

.loader-inner {
    position: absolute;
    top: calc(50% - 0.5rem / 2 - .5rem);
    right: calc(50% - 0.5rem / 2);
}

.loader-inner > div {
    background: #201f1e;
}

