/* 表单样式 */
div.form {
    /* height: 3.63rem; */
    /* color: #c8c6c4 */
    color: #ccc;

    background: rgba(232, 134, 47, 0.3);
    /*background:rgba(173,216,230,0.3);*/
    /* #ADD8E6 */
    /*##f7cb4d*/
}

div.form-container {
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
    /* opacity: .5; */
}

div.form-box {
    margin: .15rem;
    background: rgba(255, 0, 0, 0.25);
    /*background: rgba(255, 0, 0, 0.35);*/
    padding: .15rem .15rem .3rem;
}

input {
    display: block;
    width: calc(100% - 1.7rem);
    font-size: .2rem;
    padding: .1rem;
    margin: 0 auto;
    text-align: center;
    /* opacity: 0; */
    background: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: .01rem solid #c8c6c4;
    color: #ddd;
    /* height: .3rem; */
    outline-style: none;
}

input:hover {
    border-bottom: .02rem solid #c8c6c4;
}


/* autocomplete（谷歌浏览器自动完成的适配） */
input:-webkit-autofill {
    box-shadow: 0 0 0 10rem rgb(255, 195, 0) inset !important;
}

@media only screen and (max-width: 36rem) {
    input {
        width: calc(100% - .8rem) !important;
    }
}

@media only screen and (max-width: 32rem) {
    input {
        width: calc(100% - .4rem) !important;
    }
}

button {
    font-size: .2rem !important;
    border: none;
    /* display: inline-block; */
    /* display: block; */
    margin: .22rem auto .25rem;
    /* color:#333; */
    color: darkred;

    /* background-color: orange; */
    background: rgba(232, 134, 47, .7);
    padding: .05rem .25rem;
    cursor: pointer;
}

.btn {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: darkorange;
    padding: 0;
    margin: 0;
    /*   display: inline-block; */
}

.btn:hover {
    text-decoration-line: underline;
}

button.btn {
    font-size: .15rem !important;
}

.btn-container {
    text-align: center;
    font-size: .05rem !important;
}

.form-field {
    font-size: .15rem !important;
}

/* 错误信息的弹出 */
.message {
    margin: 0 auto;
    height: .4rem;
    line-height: .4rem;
    background-color: darkorange;
    font-size: .15rem !important;
    text-align: center;
    display: none;
}